repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies: [types-python-dateutil, pandas-stubs]
        args: [--ignore-missing-imports, --check-untyped-defs]
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true
      - id: pytest-integration
        name: pytest-integration
        entry: pytest -m integration
        language: system
        pass_filenames: false
        always_run: true
        stages: [ pre-push ]
